<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h3>Basins</h3>
    <div class="column" style='width: 100%;'>
      <table class="table table-striped">
        <thead>
          <%= render partial: 'index_header' %>
        </thead>
        <tbody>
          <% @basins.unarchived.ordered.each do |basin| %>
            <%= render partial: 'index_row', locals: {:basin => basin} %>
          <% end %>
        </tbody>
      </table>
      <br>

      <%= link_to 'New Basin', new_basin_path %>
    </div>
  </div>
</div>

