<h4>Edit Property</h4>
<%= link_to ' << Back', properties_path %>
<div class="container">
  <%= render 'form'  %>
<div class='col-lg-3'>
  <small>
    <h5> Property Values </h5>
    <%= render "property_values/row" %>
  </small>
</div>