<h3>Edit Property</h3>
<div class="container">
  <div style="width: 400px;">
  	<%= render 'form'  %>
  </div>
  <h4> Property Values </h4>
  <%= render "property_values/row" %>
  <%= link_to ' << Back', properties_path %>
</div>