<div id='zone_add'>
  <div class='col-lg-6'>
    <%= form_for(@zone, html: {class: 'form-inline add_zone', role: 'form'}) do |f| %>
      <% if @zone.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@basin.errors.count, "error") %> prohibited this record from being saved:</h2>

          <ul>
          <% @basin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>