<div>
  <table class="table inset_table">
    <thead>
      <tr>
        <th class='col-md-3'>Zone</th>
        <th>Basins</th>
      </tr>
    </thead>
    <tbody>
      <% inc = 0 %>
      <% @site.zones.unarchived.ordered.each do |zone| %>
        <tr>
          <td><%= zone.name %></td>
          <td><%= zone.basins.count.to_s %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan='2'>
          <%= link_to 'Add Zone', '#', id: "add_zone_table" %>
          <%= hidden_field_tag "form_increment", inc + 1 %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

    
    
    
