<ul class='nav nav-tabs'>
  <%= layout_tabs(@site) %>
</ul> 
<%= link_to '<<Back', sites_path %>

<div class="container">
  <% if @current_tab == "site_details" %>
	  <div style="width: 400px;">
	    <%= render 'form'  %>
	  </div>
  <% elsif @current_tab == "properties" %>
    <%= render 'shared/edit_properties' %>
  <% end %>
</div>

