<ul class='list-group'>
  <% current_user.company_association.sites.each do |site| %>
    <% site.reports.order("updated_at DESC").each do |report| %>
      <li class=list-group-item>
        <table><tbody><tr>
          <td style="width:60%;">
            <%= link_to "#{attachment_icon(report.report_path.file.filename)}&nbsp;&nbsp;#{report.report_path.file.filename}".html_safe, File.join(report.report_path.store_dir, report.report_path.file.filename), :target => "_blank" %>
          </td>
          <td>
            <%= site.name %>
            <span style="margin-left: 10px;"></span>
            <small><%= report.updated_at.localtime.to_s(:simple_time)%></small>
          </td>
        </tr></tbody></table>
      </li>
    <% end %>
  <% end %>
</ul>

